accept field definitions
accept link definitions
construct link definitions from field definitions
define actions for creating links
	define actions for collecting keys
	define actions for making links
define ordering of actions
